@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

body {
  background-color: #2e2a3d;
  color: #ffffff;
}
